body {
    font-family: Arial, Helvetica, sans-serif;
     -webkit-font-smoothing: antialiased;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
#themebox{
scale: 110%;
}
.head {

}
#mgbox{
    
}