body{
    background: white;
}
body:hover {
    background: white;
}
.topic1 {
    border-top-color: black;
    box-shadow: -1px 1px 7px 2px #52ff00;
    padding-left: 26px;
    padding-top: 4px;
    padding-bottom: 28px;
    border-radius: 22px;
    background: #002d4e;
    margin-bottom: 45px;
    color: white;
}
.topic2 {
    border-top-color: black;
    box-shadow: -1px 1px 7px 2px #2000ff;
    padding-left: 26px;
    padding-top: 4px;
    padding-bottom: 28px;
    border-radius: 22px;
    background: #5a05bb;
}
#toper{
   color: white;
    box-shadow: none;
}
#toper:hover{
    transform: scale(100.3%);
    transition: ease-in 0.1s;
}
details{
    padding-bottom: 5px;
}
#go {
    background: #ffe4e49c;
    border-radius: 9px;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    backdrop-filter: blur(1px);
    margin-top: 24px;
}
#go:hover{
    background: #ffed00;
}
#header {
    font-size: 50px;
    margin-top: -138px;
    color: #300943;
}
.note {
    margin-top: 46px;
    margin-left: 498px;
    color: rgba(0, 0, 0, 0.5);
}
#head {
    margin-top: -86px;
    color: #300943;
}
#header {
    font-size: 50px;
    margin-top: -138px;
    color: #002d4e;
}
button.thisPage {
    background: #78ff0000;
    border-bottom-color: #002d56;
    text-decoration-color: #002d4e;
    border-style: solid;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-radius: 0px;
    border-width: thick;
    color: #002d56;
}
.button{
    border-radius: 0px;
}
#bottom {
    margin-left: 425px;
    margin-top: 82px;
    margin-bottom: 60px;
    color:black;
}
#copyright {
    color: black;
}
.other:hover {
    transform: scale(103%);
    transition: ease-in 0.1s;
    background: #78ff0000;
    border: solid;
    border-bottom-color: #002d4e;
    text-decoration-color: #002d4e;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-radius: 0px;
    border-width: thick;
    color: #002d4e;
}
.feed:hover {
    transform: scale(103%);
    transition: ease-in 0.1s;
    background: #78ff0000;
    border-bottom-color: #002d4e;
    text-decoration-color: #002d4e;
    border-style: solid;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-radius: 0px;
    border-width: thick;
    color: #002d4e;
}